<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yasak İşlem</title>
    <link class="rounded-full" rel="shortcut icon"
        href="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Buteo_buteo_1_%28Lukasz_Lukasik%29.jpg/220px-Buteo_buteo_1_%28Lukasz_Lukasik%29.jpg"
        type="image/x-icon">
</head>
<body>
    <h1 class="text-3xl text-center">Bu işlemi yapmak için yetkiniz yoktur.....</h1>
    <br>
    <div class="flex border-4 hover:bg-blue-100 ">
        <a class="py-100 mx-auto text-2xl " href="/home">Ana Sayfa</a>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>